html, body { width: 100%; height: 100%; margin: 0; overflow: hidden; }

.deliverable-table-labelCell, 
.submission-table-labelCell, 
.comment-table-labelCell,
.online-info-table-labelCell { 
	background-color: lightgrey; 
	padding-left: 5px;
	padding-right: 5px;
	width: 150px !important;
	text-align: right;
}

.category-button {
	width: 90%;
	border: 1px solid grey;
	margin-bottom: 1px;
	background-color: lightgrey;
	text-align: center;
	color: black;
}

.category-link {
	text-decoration: none;
}

.category-active {
	background-color: white;
}

#page-container { width: 100%; height: 100%; }

#sidebar-accordion {
	height: 100%;
	overflow-y: scroll;
}
