.summary-row {
	background: #EDF3FA;
}

.summary-row table tbody tr td {
	font-weight: bold;
}

.submission-status {
	font-weight: bold;
	font-style: italic;
}

.submission-row {
	background: #EDF3FA;
}
