<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
	    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	    <title>{% block title %}AASG Submission Tracking{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{{ static_url }}externals/ext-3.2.1/resources/css/ext-all.css" />
		<link rel="stylesheet" type="text/css" href="{{ static_url }}externals/geoext/build/GeoExt/resources/css/geoext-all.css" />
	    {% block styles %}{% endblock %}	
    	<script type="text/javascript" src="{{ static_url }}externals/ext-3.2.1/adapter/ext/ext-base.js"></script> 
		<script type="text/javascript" src="{{ static_url }}externals/ext-3.2.1/ext-all.js"></script> 
		<script src="{{ static_url }}externals/openlayers/OpenLayers.js"></script>
		<script type="text/javascript" src="{{ static_url }}externals/geoext/build/GeoExt/script/GeoExt.js"></script>			
	    {% block scripts %}{% endblock %}
  	</head>
  	{% block body %}
  	<body onload="init()">
  		<div id="map"></div>
	</body>
  	{% endblock %}
</html>