<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
	    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	    <title>{% block title %}AASG Submission Tracking{% endblock %}</title>
	    <style type="text/css">
	    	html, body { width: 100%; height: 100%; margin: 0; overflow: hidden; }
	    	#page-container { width: 100%; height: 100%; }
	    </style>
	    <link rel="stylesheet" href="{{ media_url }}aasgtrack/dijit/themes/claro/claro.css" media="screen">
	    {% block styles %}{% endblock %}	
    		<script language="javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
    		<script type="text/javascript" src="{{ media_url }}aasgtrack/dojo/dojo.js" djConfig="parseOnLoad: true"></script>
    		<script type="text/javascript">
    			dojo.require("dijit.layout.ContentPane");
    			dojo.require("dijit.layout.BorderContainer");
    		</script>
	    {% block scripts %}{% endblock %}
  	</head>
  	{% block body %}
  	<body class="claro">
  		<div dojoType="dijit.layout.BorderContainer" design="headline" gutters="true" liveSplitters="false" id="page-container">
		  	<div dojoType="dijit.layout.ContentPane" splitter="false" region="top" style="width: 100%" id="header">
		  		{% block header %}
		  		{% endblock %}
			</div>
			<div dojoType="dijit.layout.ContentPane" splitter="false" region="left" style="width: 200px" id="sidebar">
		  		{% block sidebar %}
		  		{% endblock %}
			</div>
			<div dojoType="dijit.layout.ContentPane" splitter="true" region="center" id="content">
		  		{% block content %}
		  		{% endblock %}
			</div>
			<div dojoType="dijit.layout.ContentPane" splitter="false" region="bottom" style="width: 100%" id="footer">
		  		{% block footer %}
		  		{% endblock %}
			</div>
		</div>
	</body>
  	{% endblock %}
</html>