<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
	    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	    <title>{% block title %}AASG Submission Tracking{% endblock %}</title>
	    {% block styles %}{% endblock %}	
    		<script language="javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
	    {% block scripts %}{% endblock %}
  	</head>
  	{% block body %}
  	<body>
	  	<div id="header">
	  		{% block header %}
	  		{% endblock %}
		</div>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<div id="footer">
			{% block footer %}
			{% endblock %}
		</div>
	</body>
  	{% endblock %}
</html>