{% extends "aasgtrack/progress-base.html" %}
{% load filters %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{ media_url }}aasgtrack/dojox/layout/resources/ExpandoPane.css" />
	<link rel="stylesheet" type="text/css" href="{{ media_url }}aasgtrack/css/progress-full.css" />
{% endblock %}

{% block scripts %}
	
{% endblock %}

{% block header %}
	<h2>{{ state.name }}</h2>
{% endblock %}

{% block sidebar %}
	
{% endblock %}

{% block content %}
	<p>Under Contruction</p>
{% endblock %}

{% block footer %}
{% endblock %}

